{% extends 'products/parent.html' %}
{% load static %}

{% block content %}
<table border="1px" width="600px" height="500px">
    <tr style="text-align: center;">
        <td height="50px"><b>ID</b></td>
        <td><b>Name</b></td>
        <td><b>Images</b></td>
        <td><b>Price</b></td>
        <td><b>Actions</b></td>
    </tr>
    <tr style="text-align: center;">
        <td width="200px">{{ product.id }}</td>
        <td width="200px">{{ product.Name }}</td>
        <td width="500px"><img src="{% static 'images/' %}{{ product.Image }}" width="350px" height="225"></td>
        <td width="200px">{{ product.price }}</td>
        <td>
            <a href="{%url 'productsAdd' %}">New Product</a>
            <a href="">Update</a>
            <a href="{% url 'productsDelete' productId=product.id %}">Delete</a>
        </td>
    </tr>
    <!-- <div>
        <tr>
            <td width="200px">{{ product.id }}</td>
            <td width="200px">{{ product.name }}</td>
            <td width="500px"></td>
            <td><a href="{% url 'product_details' productId=product.id %}">Show Details</a></td>
                    <td>
                        <a href="">Details</a>
                        <a href="">Update</a>
                        <a href="">Delete</a>
                    </td>
        </tr>
        
    </div> -->
</table>
{% endblock %}
